[project]
	description = ?? ?? ???????.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunoh Ryu (horyu1234)
[access "refs/for/refs/*"]
	read = group user/Hyunoh Ryu (horyu1234)
	push = group user/Hyunoh Ryu (horyu1234)
	label-Code-Review = -2..+2 group user/Hyunoh Ryu (horyu1234)
	label-Verified = -1..+1 group user/Hyunoh Ryu (horyu1234)
	rebase = group user/Hyunoh Ryu (horyu1234)
	removeReviewer = group user/Hyunoh Ryu (horyu1234)
	submit = group user/Hyunoh Ryu (horyu1234)
[access "refs/heads/*"]
	read = group user/Hyunoh Ryu (horyu1234)
	create = group user/Hyunoh Ryu (horyu1234)
	push = +force group user/Hyunoh Ryu (horyu1234)
	pushMerge = group user/Hyunoh Ryu (horyu1234)
[access "refs/tags/*"]
	push = group user/Hyunoh Ryu (horyu1234)
	push = +force group user/Hyunoh Ryu (horyu1234)
