[project]
	description = 끄투 자바 프로젝트
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunoh Ryu (horyu1234)
[access "refs/for/refs/*"]
	read = group KKuTu-Java Developers
	read = group user/Hyunoh Ryu (horyu1234)
	push = group KKuTu-Java Developers
	push = group user/Hyunoh Ryu (horyu1234)
	label-Code-Review = -2..+2 group KKuTu-Java Developers
	label-Code-Review = -2..+2 group user/Hyunoh Ryu (horyu1234)
	label-Verified = -1..+1 group user/Hyunoh Ryu (horyu1234)
	rebase = group user/Hyunoh Ryu (horyu1234)
	removeReviewer = group user/Hyunoh Ryu (horyu1234)
	submit = group user/Hyunoh Ryu (horyu1234)
[access "refs/heads/*"]
	read = group KKuTu-Java Developers
	read = group user/Hyunoh Ryu (horyu1234)
	create = group KKuTu-Java Developers
	create = group user/Hyunoh Ryu (horyu1234)
	push = group KKuTu-Java Developers
	push = +force group user/Hyunoh Ryu (horyu1234)
	pushMerge = group KKuTu-Java Developers
	pushMerge = group user/Hyunoh Ryu (horyu1234)
	label-Code-Review = -2..+2 group KKuTu-Java Developers
	submit = group KKuTu-Java Developers
[access "refs/tags/*"]
	push = group KKuTu-Java Developers
	push = group user/Hyunoh Ryu (horyu1234)
	push = +force group user/Hyunoh Ryu (horyu1234)
